@import '../../../theme/vars.scss';
.container {
  @include base-container;
  max-width: 100%;
  width: 800px;
  margin: auto;
  .heading {
    @include base-heading;
    margin-bottom: $desktop-spacing;
  }
  .petitionText {
    padding: $mobile-spacing;
    font-size: $text-small;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    text-align: justify;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: $border-radius;
    @include phone {
      font-size: $text-small * 0.8;
      line-height: $text-small + 5;
    }
  }
  .form {
    @include spacing(margin-top);
    .submit {
      @include spacing(margin-top);
    }
  }
  .signWrapper {
    height: 200px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    position: relative;
    .sigCanvas {
      background: white;
      border-radius: 5px;
      display: block;
      height: 200px;
      width: 500px;
      max-width: 100%;
    }
    .resetIcon {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 9;
      color: $dark;
    }
  }
}
