@import '../../theme/vars.scss';
.header {
  display: flex;
  align-items: center;
  flex: none;
  .logo {
    width: $logo-size;
    cursor: pointer;
  }
  .menu {
    display: flex;
    gap: $desktop-spacing;
    flex-wrap: wrap;
    margin-left: $desktop-spacing * 2;
    .menuItem {
      @include text-bold;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: rgba($color: $primary-color, $alpha: 0.6);
      }
      &.active {
        color: $primary-color;
      }
    }
  }
  .auth {
    margin-left: auto;
  }
}
