@import '../../theme/vars.scss';

.footer {
  box-sizing: border-box;
  height: 150px;
  margin-top: $desktop-spacing;
  font-size: $text-small;
  @include text-light;
  @include phone {
    font-size: $text-small * 0.8;
    font-weight: 100;
  }
  flex: none;
  .divider {
    height: 1px;
    background: #cfcfcf;
  }
  .content {
    padding-top: $desktop-spacing;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 1px);
    @include phone {
      height: auto;
    }
    .madeBy {
      display: flex;
      align-items: flex-start;
      @include phone {
        display: none;
      }
      .heartIcon {
        margin: -5px 5px 0 5px;
      }
      .rhaszare {
        text-decoration: underline;
        margin-left: 5px;
      }
    }
    .collectif {
      .socials {
        margin-top: $desktop-spacing;
        display: flex;
        justify-content: space-between;
        @include phone {
          justify-content: unset;
          gap: 20px;
          margin-top: $mobile-spacing + 5px;
        }
        img {
          height: 25px;
          @include phone {
            height: 15px;
          }
        }
      }
    }
    .stop490 {
      b {
        vertical-align: top;
      }
      img {
        margin-top: -7px;
        margin-right: 5px;
      }
    }
  }
  .madeByMobile {
    display: none;
    align-items: center;
    margin-top: 20px;
    @include phone {
      display: flex;
    }
    .heartIcon {
      margin: -5px 5px 0 5px;
    }
    .rhaszare {
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}
